<h2><%= foundMovie.title %></h2>
<div><%= foundMovie.genre %></div>
<div><%= foundMovie.plot %></div>
<ul>
  <% foundMovie.cast.forEach(celeb => { %>
  <li>
    <h2><%= celeb.name %></h2>
    <h2><%= celeb.occupation %></h2>
    <h2><%= celeb.catchPhrase%></h2>
  </li>
  <% }) %>
</ul>
<form method="POST" action="/movies/<%= foundMovie._id %>/delete">
  <button type="submit">Delete</button>
</form>
