<h2><%= foundMovie.title %></h2>
<div><%= foundMovie.genre %></div>
<div><%= foundMovie.plot %></div>
<ul>
  Cast: <% foundMovie.cast.forEach(celeb => { %>
  <li>
    <h2><%= celeb.name %></h2>
    <h4><%= celeb.occupation %></h4>
    <h4>"<%= celeb.catchPhrase%>"</h4>
  </li>
  <% }) %>
</ul>
<a href="/movies/<%= foundMovie._id %>/edit">Edit</a>
<form method="POST" action="/movies/<%= foundMovie._id %>/delete">
  <button type="submit">Delete</button>
</form>
