<h2>All movies</h2>
<% allMovies.forEach(movie => { %>
<div><%= movie.title %></div>
<div><%= movie.genre %></div>
<div><%= movie.plot %></div>
<ul>
  Cast: <% movie.cast.forEach(celeb => { %>
  <li><%= celeb.name %></li>
  <% }) %>
</ul>
<a href="/movies/<%= movie._id %>">View movie</a>
<% }) %>
